@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');

$font-base: 'Merriweather', serif;
$font-alt: 'Open Sans', sans-serif;

h2 {
    font: 25px $font-alt;
    letter-spacing: -0.76px;
}