@import './../../styles/reset.scss';
@import './../../styles/colors.scss';
@import './../../styles/fonts.scss';
@import './../../styles/buttons.scss';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./HeroImage.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: -150px;
    background-position-y: -50px;
    z-index: 1;
}