@import './../../styles/reset.scss';
@import './../../styles/colors.scss';
@import './../../styles/fonts.scss';
@import './../../styles/buttons.scss';

.section__4Steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .section__4Steps__title {
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font: $font-alt;

        div {
            margin: 10px;
        }
    }

    .section__4Steps__allSteps {
        display: flex;
        height: 230px;
        justify-content: center;
        background-color: #F0F1F1;
        width: 100%;

        .section__4Steps__step {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 15px;
            width: 210px;
            font: 14px $font-alt;
        }

        .section__4Steps__stepImg {
            height: 70px;
            width: auto;
            padding: 15px;
        }

        p {
            font-weight: bold;

            &::after {
                content: '';
                display: block;
                height: 1px;
                width: 55px;
                background-color: $color-grey-light;
                margin: 5px auto;
            }
        }

        span {
            display: inline-block;
            height: 30px;
            text-align: center;
        }
    }
}

.section__4Steps__button {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}