@import './../../styles/reset.scss';
@import './../../styles/colors.scss';
@import './../../styles/fonts.scss';
@import './../../styles/buttons.scss';

.section__header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

    .section__header--box {
        width: 50%;
        height: 50%;
    }
}

.section__header--content {
    display: flex;
    justify-content: flex-end;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 25px $font-alt;
    letter-spacing: -0.76px;
    margin-left: auto;
    width: 50%;

    .homeHeader__buttons {
        display: flex;
        width: 100%;
        justify-content: center;

        .button {
            margin: 10px;
        }
    }
}

.section__header--picture {
    width: 50%;
    background-image: url("./HeroImage.png");
    background-size: cover;
    background-position-x: -50px;
}